services:
  db:
    image: postgres:18.1-alpine3.23
    container_name: fastapi-postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/18/docker

  backend:
    build: .
    container_name: fastapi-backend
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src

volumes:
  postgres_data:
